body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 15px 20px;
    text-align: center;
}

.container {
    display: flex;
    background-color: rgb(39, 41, 40);
}

.sidebar {
    background-color: #f4f4f4;
    width: 200px;
    height: 76vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin-bottom: 10px;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sidebar nav ul li a:hover {
    color: #d3d9df;
    background-color: #75b992;
    border-radius: 40px;
    padding: 10px;
    width: 30px;
}